.fm-button{

width:100%;

height:52px;

border:none;

border-radius:14px;

font-size:16px;

font-weight:600;

color:white;

cursor:pointer;

background:linear-gradient(
90deg,
#3DAFFF,
#3E43FF
);

transition:.2s;

}

.fm-button:hover{

transform:translateY(-2px);

}

.fm-button:active{

transform:scale(.98);

}

.fm-button:disabled{

opacity:.45;

cursor:not-allowed;

}